@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.track {
  position: relative;
  display: flex;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
